*{
  margin: 0px;
  padding: 0px;
}
.App {
    background-color: #4ab1c9;   
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:100vh;  
  }
  
.select-pok{
  margin-bottom: 10px;
}